<% if @reservation.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <h4><b>Das Formular enthält <%= pluralize(@reservation.errors.count, "Fehler") %>.</b></h4>
    </div>
    <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
