<div class="hero-section">
  <div class="container">
      <div class="jumbotron" id="tagline">
        <h3>Auch Helden brauchen Urlaub</h3>
        <%= link_to 'Neue Reservierung', new_reservation_path, :class => "waves-effect waves-light btn-large" %>
        <p><%= link_to 'Alle Reservierungen', reservations_path %></p>
      </div>
    </div>
</div>
