<div class = "container">
  <h3>Reservierung bearbeiten</h3>
        <%= render 'form', reservation: @reservation %>

        <%= link_to 'Anzeigen', @reservation %> |
        <%= link_to 'Zurück', reservations_path %>
  </div>
