<p>Hi <%= @resource.email %>!</p>

<p>Sie haben ihr Passwort vergessen? Klicken Sie auf den angefügten Link und folgen Sie den Instruktionen</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>Wenn Sie diesen Sicherheitscode nicht angefordert haben, können Sie diese E-Mail ignorieren. </p>
<p>Möglicherweise hat ein anderer Benutzer bei dem Versuch, das eigene Passwort zurückzusetzen, versehentlich Ihre E-Mail-Adresse eingegeben.</p>
<p>Ihr Passwort bleibt unverändert bis Sie den Link oben öffnen und ein neues Passwort vergeben.</p>
